.classpath
.settings
.project
.DS_Store
.m2-work/
.swim
.swp
session.json
build
/target/
/swim-session/target/
/swim-core/target/
/swim-launcher/target/
/swim-java-lsp/target/
/swim-clangd-lsp/target/
/swim-java-debug/target/
/swim-cpp-debug/target/
/swim-tree-view/target/
/swim-email/target/
/swim-git/target/
/swim-slack/target/
/image/
/plugins/
/workspace/
/email/
/email/accounts.json
/todo/
/slack/
/nemo.conf
/nemo/
/deps/oracle.oracle-java/
/deps/oracle.oracle-java.vsix
/deps/oracle.oracle-java.vsix.download
/deps/oracle.oracle-java.vsix.payload
