.classpath
.settings
.project
build
/target/
/swim-core/target/
/swim-launcher/target/
/swim-java-lsp/target/
/swim-tree-view/target/
/image/
/plugins/
/workspace/
/nemo/
/deps/oracle.oracle-java/
/deps/oracle.oracle-java.vsix
/deps/oracle.oracle-java.vsix.download
/deps/oracle.oracle-java.vsix.payload
