.classpath
.settings
.project
build
lib
/target/
/swim-core/target/
/swim-launcher/target/
/bin/
/deps/oracle.oracle-java/
/deps/oracle.oracle-java.vsix
/deps/oracle.oracle-java.vsix.download
/deps/oracle.oracle-java.vsix.payload
